body.index {
  background-color: #ffffff;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

body.about {
  background-color: #ffffff;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.3;
}

body.cache-study {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.4;
}

body.lookbook-study  {
  background-color: #ffffff;
  font-family: 'Bahnschrift', sans-serif;
  font-style: normal;
  font-size: 18px;
}

header {
  background-color: #ffffff;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.3;
  text-align: center;
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

main {
  padding-top: 66.125px;
}

.logo {
  max-width: 50px;
  float: left;
}

.icon {
  color: black;
  float: right;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 28px;
  padding-right: 0px;
}

.navtoggle.responsive li  {
  display: block;
  text-align: right;
  padding-top: 60px;
}

.navtoggle.responsive li:last-child  {
  padding: 0px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: black;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  opacity: 0.5;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.contact-links>ul {
  list-style-type: none;
  padding: 0;
}

.contact-links>ul>li {
  display: inline-block;
}

.contact-links>ul>li>a {
  padding: 0 15px;
  font-weight: 500;
}

#hero {
  display: grid;
  background-color: #ffffff;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
}

#hero h2 {
  text-align: center;
  max-width: 1000px;
}

#hero span {
  display: block;
}

#work h1, #work h3, #work p {
  text-align: center;
}

.contact h1 {
  text-align: center;
}

.contact h2 {
  text-align: center;
}

.contact ul {
  text-align: center;
}

h1.main {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
}

h1.cache {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 25px;
}

h2.main {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.3;
}

h2.cache {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

h3.main {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
}

h3.cache {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.4;
}

.p1-main {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.3;
}

img {
  width: 100%;
}

.thumbnail {
  display: block;
  width: 100%;
  border-radius: 15px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: grid;
  justify-content: center;
  margin: 25px auto;
}

.button {
  display: inline-block;
  text-align: center;
  width: 175px;
  background-color: #181818;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.hyperlink {
  color: #2D93AD;
  font-weight: 500;
}

.hyperlink:visited {
  color: #2D93AD;
  font-weight: 500;
}

.hyperlink:hover,
.hyperlink:focus {
  color: #4DB7D1;
  font-weight: 600;
}

.container {
  max-width: 1600px;
  padding: 0px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
}

.cache-logo-banner {
  padding-top: 50px;
  padding-bottom: 35px;
  max-width: 234px;
  margin-left: auto;
  margin-right: auto;
}

.cache-screens-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 35px;
  padding-bottom: 15px;
}

.cache-final-screens {
  max-width: 262.5px;
}

.cache-gifs {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-nav>ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.bottom-nav>ul>li {
  display: inline-block;
}

.bottom-nav>ul>li>a {
  padding: 0 15px;
  font-weight: 500;
}

#cache-present, #cache-ideate, #cache-project-overview {
  background-color: #e8f5ff;
  padding-top: 10px;
}
/* ===== LookBook ==============*/
.h1-lookbook {
  font-family: 'anton', sans-serif;
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.6;
  font-weight: 400;
}

.h3-lookbook {
  font-family: 'anton', sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}

.p2-lookbook {
  font-size: 16px;
}

#lookbook-info {
  display: grid;
  grid-template-columns: 50% auto;
}

#lookbook-platform {
  text-align: right;
}

.lookbook-section-text {
  font-size: 18px;
  line-height: 1.6;
}

.lookbook-grey {
  background-color: #ededed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lookbook-logo-banner {
  display: block;
  max-width: 243px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.mid-fi-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 2px;
}

.lookbook-final-screens-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.lookbook-booking-showcase {
  grid-area: 3/1/4/3;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.lookbook-buttons-image, .lookbook-fonts-image, .lookbook-iconography-image {
  padding-top: 15px;
}

#lookbook-intro, #lookbook-final-showcase {
  background-color: #323b47;
  color: #ededed;
}

#lookbook-tagline>h1 {
  text-align: center;
}

.lookbook-showcase-text {
  text-align: center;
}

.lookbook-gif {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px
}

#lookbook-4-size-screen-mockup, #lookbook-live-mockup {
  padding-top: 20px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  .logo {
    max-width: 60px;
    float: left;
    margin-top: 20px;
  }
  nav {
    width: auto;
    float: right;
    padding-top: 20px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }

  nav>ul>li {
    display: inline-block;
  }

  body.index {
    font-weight: 400;
    font-size: 20px;
  }

  body.about {
    font-weight: 400;
    font-size: 20px;
  }

  body.cache-study {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
  }

  .p1-main {
    font-weight: 400;
    font-size: 20px;
  }

  main {
    padding-top: 100px;
  }

  #hero span {
    display: block;
  }

  .button {
    font-size: 18px;
    width: 200px;
  }

  .thumbnail {
    border-radius: 25px
  }

  .about h2 {
    margin-bottom: 0px;
  }

  .about h3 {
    font-size: 24px;
  }

  .cache-screens-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
  }

  .cache-final-screens {
    max-width: 262.5px;
  }

  .cache-gifs {
    max-width: 260px;
    padding-bottom: 35px;
  }
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="-grid-container"] {
    padding-bottom: 35px;
  }

/* ===== LookBook ==============*/

  .h1-lookbook {
    font-size: 32px;
  }

  .lookbook-section-text {
    font-size: 18px;
  }

  .lookbook-logo-banner {
    max-width: 384px
  }

  .lookbook-70 {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .mid-fi-grid-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .lookbook-buttons-image, .lookbook-fonts-image, .lookbook-iconography-image {
    padding-top: 50px;
  }

  .lookbook-final-screens-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .lookbook-booking-showcase {
    grid-area: 2/3/3/4;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .lookbook-gif {
    max-width: 260px;
    padding-bottom: 50px;
  }

  #lookbook-4-size-screen-mockup, #lookbook-live-mockup {
    padding-top: 50px;
  }

  .lookbook-final-mockups {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .lookbook-logo-banner {
    max-width: 243px;
  }

  /* About */

  .my-story-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px
  }

  .my-story1 {
    grid-area: 2/2/3/3;
    padding-top: 24px;
  }

  .my-story2 {
    grid-area: 1/1/2/3;
  }

  .about-title {
    display: block;
    text-align: center;
  }

  .skills-tools-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  body.index {
    font-size: 24px;
  }

  body.about {
    font-size: 24px;
  }

  body.cache-study {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
  }

 .logo {
   max-width: 75px;
   margin-bottom: 10px;
 }

  main {
    padding-top: 100.2px;
  }

  h1.main {
    font-weight: 500;
    font-size: 60px;
    line-height: 1.3;
  }

  h2.main {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
  }

  .p1-main {
    font-weight: 400;
    font-size: 20px;
  }

  #contact {
    text-align: center;
  }

  .button {
    font-size: 20px;
    width: 225px;
  }

  .thumbnail {
    border-radius: 30px
  }

  /* Cache */
  body.cache-study {
    font-size: 24px;
  }

  h1.cache {
    font-size: 40px;
  }

  h2.cache {
    font-size: 28px;
  }

  .cache-banner {
    margin-top: 50px;
  }

  .cache-overview-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px
  }

  .cache-overview1 {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .cache-ideate-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    padding-bottom: 25px;
  }

  .cache-ideate2 {
    padding-top: 100px;
  }

  .cache-ideate4 {
    padding-top: 75px;
  }

  .cache-ideate-grid-container>.cache-ideate6 {
    padding-top: 50px;
  }

  .cache-prototyping-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    padding-bottom: 25px;
  }

  .cache-prototyping3 {
    padding-top: 80px;
    grid-area: 1/2/3/3;
  }

  .cache-screens-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    padding-bottom: 75px;
  }

  .cache-final-screens {
    max-width: 262.5px;
  }

  .creating-cache-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    padding-bottom: 75px;
  }

  .creating-cache2 {
    padding-top: 90px
  }

  .cache-spending-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    padding-bottom: 75px;
  }

  .cache-spending2 {
    padding-top: 100px
  }

  .cache-desktop-grid-container {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    padding-bottom: 75px;
  }

  .cache-desktop2 {
    padding-top: 90px
  }

  .cache-gifs {
    max-width: 320px;
    padding-bottom: 60px;
  }
  .col-lg-6 {
    width: 50%;
  }

  [class*="col-lg-"] {
    float: left;
    padding: 0 10px;
  }

/* ===== LookBook ==============*/

  #lookbook-user-flow {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .lookbook-section-text {
    font-size: 24px;
  }

  .lookbook-logo-banner {
    max-width: 348px;
  }

  .lookbook-gif {
    max-width: 320px;
    padding-bottom: 75px;
  }

 .lookbook-fonts-image, .lookbook-iconography-image {
    padding-top: 100px;
  }

  #lookbook-4-size-screen-mockup, #lookbook-live-mockup {
    padding-top: 100px;
  }

  /* About */
  .my-story-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px
  }

  .my-story1 {
    grid-area: 2/2/3/3;
    padding-top: 24px;
  }

  .my-story2 {
    grid-area: 1/1/2/3;
  }

  .about-title {
    display: block;
    text-align: center;
  }

  .about h3 {
    font-size: 28px;
  }

  .skills-tools-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 20px
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
